[user]
  name = Cat McLoughlin 
  email = catm@netflix.com
[pull]
  rebase = true
[branch]
  autosetuprebase = always
[alias]
  rh = reset --hard HEAD
  b = checkout -b
  co = checkout
  ca = commit -a --verbose
  cp = cherry-pick
  amend = commit -a --amend --no-edit
  unstage = reset --soft HEAD
  cdiff = "!git diff $1 $1^"
  st = status
[push]
  default = current
[core]
  pager = delta --theme="night-owlish"
	excludesfile = /Users/catm/.gitignore_global
[interactive]
    diffFilter = delta --color-only
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[http "https://stash.prod.netflix.net:7006"]
	sslCert = /Users/catm/.metatron/user.crt
	sslKey = /Users/catm/.metatron/user.key
	sslVerify = true
[url "https://stash.prod.netflix.net:7006/scm"]
	insteadOf = ssh://git@stash.corp.netflix.com:7999
[url "https://stash.prod.netflix.net:7006"]
	insteadOf = https://stash.corp.netflix.com
	insteadOf = https://stash.corp.netflix.com:7006
	insteadOf = https://stash.corp.netflix.com:7004
	insteadOf = https://stash.netflix.com
[http "https://stash-corp-ci-stable.prod.netflix.net:7006"]
	sslCert = /Users/catm/.metatron/user.crt
	sslKey = /Users/catm/.metatron/user.key
	sslVerify = true
